<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tomasky.doms.dao.IOtaInnRelationshipDao" >

    <resultMap id="otaInnId" type="com.tomasky.doms.model.OtaInn">
        <result column="id" property="id" />
        <result column="ota_inn_pk" property="otaInnPk" />
        <result column="ota_id" property="otaId"/>
        <result column="status" property="status"/>
        <result column="ota_inn_code" property="otaInnCode"/>
        <result column="ota_inn_name" property="otaInnName"/>
    </resultMap>


    <sql id="InnId">
        id,inn_id,inn_name,ota_id,status,open,ota_inn_code,ota_code
    </sql>
    <insert id="saveOtaInn" parameterType="com.tomasky.doms.model.OtaInn">
        insert INTO ota_inn(id,inn_id,inn_name,ota_id,status,open,ota_inn_code,ota_code)
        VALUES (#{uuid},#{innId},#{innName},#{otaId},#{status},#{open},#{ota_inn_code},#{otaCode})
    </insert>
</mapper>