<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task-4.2.xsd">

    <context:component-scan base-package="com.tomasky.doms" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <task:annotation-driven/>

    <context:annotation-config/>

    <context:property-placeholder location="classpath:config.properties"/>


    <bean class="org.springframework.context.support.ResourceBundleMessageSource" id="messageSource"
          p:basenames="message"/>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:conf/mybatis/sqlMapConfig.xml"/>
        <property name="mapperLocations" value="classpath:com/tomasky/doms/mapper/*.xml"/>
        <property name="plugins">
            <ref bean="paginationInterceptor"></ref>
        </property>
    </bean>
    <bean id="paginationInterceptor" class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
        <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.PostgreSQLDialect"/>
    </bean>
    <bean class="org.mybatis.spring.SqlSessionTemplate" id="templateDc">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.tomasky.doms.dao"/>
    </bean>

    <tx:annotation-driven mode="aspectj" transaction-manager="transactionManager"/>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="append*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="validated*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
            <tx:method name="edit*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="repair" propagation="REQUIRED"/>
            <tx:method name="delAndRepair" propagation="REQUIRED"/>

            <tx:method name="get*" propagation="SUPPORTS"/>
            <tx:method name="find*" propagation="SUPPORTS"/>
            <tx:method name="load*" propagation="SUPPORTS"/>
            <tx:method name="search*" propagation="SUPPORTS"/>
            <tx:method name="datagrid*" propagation="SUPPORTS"/>

            <tx:method name="*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethods" expression="execution(public * com.tomasky.doms.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>32212254720</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>



    <beans profile="dev">
        <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
              destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url"
                      value="jdbc:postgresql://192.168.1.17:5432/oms?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
            <property name="username" value="ota"/>
            <property name="password" value="ota"/>
            <property name="maxWait" value="1000"/>
            <property name="initialSize" value="5"/>
            <property name="maxActive" value="20"/>
            <property name="testWhileIdle" value="false"/>
            <property name="timeBetweenEvictionRunsMillis" value="15000"/>
            <property name="removeAbandoned" value="true"/>
            <property name="removeAbandonedTimeout" value="1800"/>
            <property name="validationQuery" value="select 1"/>
        </bean>
        <bean id="msgConsumer" class="com.tomasky.doms.support.listener.MsgConsumer">
            <property name="systemName" value="doms-dev"></property>
        </bean>
        <bean class="com.tomasky.doms.common.CommonApi">
            <property name="pmsId" value="tomasky"/>
            <property name="qunarHostApi" value="http://link.beta.quhuhu.com/api/"/>
            <property name="signkey" value="srT4Vrx0LWRT8LjbE6ajanIjigGRx8iR"/>
            <property name="userIp" value="218.89.222.245"/>
            <property name="version" value="1.0"/>
            <property name="operatorGuid" value="afanqie"/>
            <property name="operatorName" value="番茄来了"/>
            <property name="omsCreateOrder" value="http://oms.local.fanqiele.com/api/order"/>
            <property name="omsQunarBasicOrder" value="http://oms.local.fanqiele.com/qunar/createOrder"/>
            <property name="omsUpdateQunarOrder" value="http://oms.local.fanqiele.com/qunar/updateOrder"/>
            <property name="otaRoomTypeIdUrl" value="http://oms.local.fanqiele.com/qunar/getOtaRoomTypeId"/>
            <property name="cancelOrderUrl" value="http://oms.local.fanqiele.com/api/cancelOrder"/>
            <property name="updateQunarOrderStatus" value="http://oms.local.fanqiele.com/api/updateQunarOrderStatus"/>
        </bean>
        <bean id="sysConfig" class="com.tomasky.doms.support.system.SysConfig">
            <property name="domainOms" value="http://oms.local.fanqiele.com"/>
        </bean>


    </beans>
    <beans profile="staging">
        <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
              destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://10.163.227.13:9999/oms_db"/>
            <property name="username" value="ota"/>
            <property name="password" value="ota@fanqie.COM888"/>
            <property name="maxWait" value="1000"/>
            <property name="initialSize" value="5"/>
            <property name="maxActive" value="20"/>
            <property name="testWhileIdle" value="false"/>
            <property name="timeBetweenEvictionRunsMillis" value="15000"/>
            <property name="removeAbandoned" value="true"/>
            <property name="removeAbandonedTimeout" value="1800"/>
            <property name="validationQuery" value="select 1"/>
        </bean>
        <bean id="msgConsumer" class="com.tomasky.doms.support.listener.MsgConsumer">
            <property name="systemName" value="doms-staging"></property>
        </bean>
        <bean class="com.tomasky.doms.common.CommonApi">
            <property name="pmsId" value="tomasky"/>
            <property name="qunarHostApi" value="http://link.beta.quhuhu.com/api/"/>
            <property name="signkey" value="srT4Vrx0LWRT8LjbE6ajanIjigGRx8iR"/>
            <property name="userIp" value="115.28.149.182"/>
            <property name="version" value="1.0"/>
            <property name="operatorGuid" value="afanqie"/>
            <property name="operatorName" value="番茄来了"/>
            <property name="omsCreateOrder" value="http://openapi.test.fanqielaile.com/api/order"/>
            <property name="omsQunarBasicOrder" value="http://openapi.test.fanqielaile.com/qunar/createOrder"/>
            <property name="omsUpdateQunarOrder" value="http://openapi.test.fanqielaile.com/qunar/updateOrder"/>
            <property name="otaRoomTypeIdUrl" value="http://openapi.test.fanqielaile.com/qunar/getOtaRoomTypeId"/>
            <property name="cancelOrderUrl" value="http://openapi.test.fanqielaile.com/api/cancelOrder"/>
            <property name="updateQunarOrderStatus"
                      value="http://openapi.test.fanqielaile.com/api/updateQunarOrderStatus"/>
        </bean>
        <bean id="sysConfig" class="com.tomasky.doms.support.system.SysConfig">
            <property name="domainOms" value="http://openapi.test.fanqielaile.com"/>
        </bean>

    </beans>

    <beans profile="production">
        <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/tomato-oms"/>-->
        <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
              destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://10.45.237.213:9999/oms_server"/>
            <property name="username" value="oms_pro"/>
            <property name="password" value="4l6uj8tJ4lUJewdg"/>
            <property name="maxWait" value="10000"/>
            <property name="initialSize" value="5"/>
            <property name="maxActive" value="50"/>
            <property name="testWhileIdle" value="false"/>
            <property name="timeBetweenEvictionRunsMillis" value="15000"/>
            <property name="removeAbandoned" value="true"/>
            <property name="removeAbandonedTimeout" value="180"/>
            <property name="validationQuery" value="select 1"/>
            <property name="testOnBorrow" value="true"/>
        </bean>
        <bean id="msgConsumer" class="com.tomasky.doms.support.listener.MsgConsumer">
            <property name="systemName" value="doms-production"></property>
        </bean>
        <bean class="com.tomasky.doms.common.CommonApi">
            <property name="pmsId" value="tomasky"/>
            <property name="qunarHostApi" value="http://link.quhuhu.com/api/"/>
            <property name="signkey" value="F0yE4DFYOJVP4fN7j7QBR1ASdDTRToId"/>
            <property name="userIp" value="115.28.185.117"/>
            <property name="version" value="1.0"/>
            <property name="operatorGuid" value="afanqie"/>
            <property name="operatorName" value="番茄来了"/>
            <property name="omsCreateOrder" value="http://oms.fanqiele.com/api/order"/>
            <property name="omsQunarBasicOrder" value="http://oms.fanqiele.com/qunar/createOrder"/>
            <property name="omsUpdateQunarOrder" value="http://oms.fanqiele.com/qunar/updateOrder"/>
            <property name="otaRoomTypeIdUrl" value="http://oms.fanqiele.com/qunar/getOtaRoomTypeId"/>
            <property name="cancelOrderUrl" value="http://oms.fanqiele.com/api/cancelOrder"/>
            <property name="updateQunarOrderStatus" value="http://oms.fanqiele.com/api/updateQunarOrderStatus"/>
        </bean>
        <bean id="sysConfig" class="com.tomasky.doms.support.system.SysConfig">
            <property name="domainOms" value="http://oms.fanqiele.com"/>
        </bean>

    </beans>
</beans>